<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317277245711-hnoskmthaqpqj3elbaa4i15mfb5a455s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317277245711-hnoskmthaqpqj3elbaa4i15mfb5a455s</string>
	<key>API_KEY</key>
	<string>AIzaSyB7k4luqILoGiUzBSLswSV9NA8YOih35bk</string>
	<key>GCM_SENDER_ID</key>
	<string>317277245711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pulpitdma.medibott</string>
	<key>PROJECT_ID</key>
	<string>medibott</string>
	<key>STORAGE_BUCKET</key>
	<string>medibott.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317277245711:ios:70fc0c531c4ed152fd6e7a</string>
</dict>
</plist>